Repository ITU-DevOps2025-GROUP-A/itu-minitwit, pull requests merged in 2025-03, with the labels that each got.

#63 Create message component
  itu-minitwit/Web/Web.Services/DTO's/DisplayMessageDto.cs
  itu-minitwit/Web/Web/Components/App.razor
  itu-minitwit/Web/Web/Components/Layout/MainLayout.razor.css
  itu-minitwit/Web/Web/Components/Layout/NavMenu.razor
  itu-minitwit/Web/Web/Components/Message.razor
  itu-minitwit/Web/Web/Components/Message.razor.cs
  itu-minitwit/Web/Web/Components/Message.razor.css
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor.cs
  itu-minitwit/Web/Web/Web.csproj
Labels: feature, WebApp

#67 Fixing main
  itu-minitwit/minitwit.test/UnitTest1.cs
  itu-minitwit/minitwit.web/Controllers/MessageController.cs
  itu-minitwit/minitwit.web/Pages/Register.cshtml
Labels: bug

#69 Fix messaging
  itu-minitwit/Api/Api.DataAccess/Repositories/MessageRepository.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/minitwit.test/UnitTest1.cs
Labels: bug

#73 Changed database location
  Dockerfile-minitwit
  itu-minitwit/minitwit.web/appsettings.json
  itu-minitwit/minitwit.web/data/minitwit.db
Labels: bug

#75 Rewrite to blazor with seperat api
  .gitignore
  itu-minitwit/Api/Api.DataAccess/Api.DataAccess.csproj
  itu-minitwit/Api/Api.DataAccess/Migrations/20250223214341_Initial_migration.Designer.cs
  itu-minitwit/Api/Api.DataAccess/Migrations/20250223214341_Initial_migration.cs
  itu-minitwit/Api/Api.DataAccess/Migrations/MinitwitDbContextModelSnapshot.cs
  itu-minitwit/Api/Api.DataAccess/MinitwitDbContext.cs
  itu-minitwit/Api/Api.DataAccess/Models/Follower.cs
  itu-minitwit/Api/Api.DataAccess/Models/LatestProcessedSimAction.cs
  itu-minitwit/Api/Api.DataAccess/Models/Message.cs
  itu-minitwit/Api/Api.DataAccess/Models/User.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/LatestRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/MessageRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/UserRepository.cs
  itu-minitwit/Api/Api.Services/Api.Services.csproj
  itu-minitwit/Api/Api.Services/CustomExceptions/UserAlreadyExists.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesNotExist.cs
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/CreateMessageDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/DisplayMessageDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/ReadMessageDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/CreateUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/DeleteUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/ReadUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/UpdateUserDTO.cs
  itu-minitwit/Api/Api.Services/Exceptions/AlreadyFollowsUserException.cs
  itu-minitwit/Api/Api.Services/Exceptions/UserDoesntExistException.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IFollowRepository.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/ILatestRepository.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IMessageRepository.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IUserRepository.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api.Services/Services/LatestService.cs
  itu-minitwit/Api/Api.Services/Services/MessageService.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api.UnitTest/Api.UnitTest.csproj
  itu-minitwit/Api/Api.UnitTest/InMemoryWebApplicationFactory.cs
  itu-minitwit/Api/Api.UnitTest/UnitTest.cs
  itu-minitwit/Api/Api/Api.csproj
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Api/Api/Controllers/LatestController.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Api/Api/Program.cs
  itu-minitwit/Api/Api/Properties/launchSettings.json
  itu-minitwit/Api/Api/appsettings.Development.json
  itu-minitwit/Api/Api/appsettings.json
  itu-minitwit/itu-minitwit.sln
  itu-minitwit/minitwit.web/minitwit.db
Labels: feature

#82 Update continuous-deployment to only run when a pull request was merged
  .github/workflows/continuous-deployment.yml
Labels: Workflow

#86 Add logging to the api
  .gitignore
  itu-minitwit/Api/Api.DataAccess/Api.DataAccess.csproj
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/LatestRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/MessageRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/UserRepository.cs
  itu-minitwit/Api/Api.Services/Api.Services.csproj
  itu-minitwit/Api/Api.Services/CustomExceptions/AlreadyFollowsUserException.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/DontFollowUserException.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserAlreadyExists.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserAlreadyExistsException.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesNotExist.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesntExistException.cs
  itu-minitwit/Api/Api.Services/LogDecorator.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api.Services/Services/MessageService.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api/Api.csproj
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Api/Api/Program.cs
  itu-minitwit/Api/Api/appsettings.Development.json
  itu-minitwit/Api/Api/appsettings.json
  itu-minitwit/minitwit.web/remote_files/deploy.sh
Labels: Api

#87 Update RegisterController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
Labels: bug

#94 Adding prometheus and grafana
  Dockerfile-Api
  README.md
  compose.yaml
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/CreateMessageDTO.cs
  itu-minitwit/Api/Api/Api.csproj
  itu-minitwit/Api/Api/Program.cs
  itu-minitwit/Api/Api/Properties/launchSettings.json
  prometheus.yml
Labels: feature

#96 Creating blazor UI
  itu-minitwit/Web/Web.Services/DTO's/DisplayMessageDto.cs
  itu-minitwit/Web/Web.Services/FollowService.cs
  itu-minitwit/Web/Web.Services/UserState.cs
  itu-minitwit/Web/Web.Services/Web.Services.csproj
  itu-minitwit/Web/Web/Components/App.razor
  itu-minitwit/Web/Web/Components/Layout/MainLayout.razor
  itu-minitwit/Web/Web/Components/Layout/MainLayout.razor.css
  itu-minitwit/Web/Web/Components/Layout/NavMenu.razor
  itu-minitwit/Web/Web/Components/Layout/NavMenu.razor.css
  itu-minitwit/Web/Web/Components/Message.razor
  itu-minitwit/Web/Web/Components/Message.razor.cs
  itu-minitwit/Web/Web/Components/Message.razor.css
  itu-minitwit/Web/Web/Components/MessageView.razor
  itu-minitwit/Web/Web/Components/MessageView.razor.cs
  itu-minitwit/Web/Web/Components/Pages/Login.razor
  itu-minitwit/Web/Web/Components/Pages/Login.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor.cs
  itu-minitwit/Web/Web/Components/Pages/Register.razor
  itu-minitwit/Web/Web/Components/Pages/Register.razor.cs
  itu-minitwit/Web/Web/Components/Routes.razor
  itu-minitwit/Web/Web/Components/_Imports.razor
  itu-minitwit/Web/Web/Program.cs
  itu-minitwit/Web/Web/Properties/launchSettings.json
  itu-minitwit/Web/Web/Web.csproj
  itu-minitwit/Web/Web/appsettings.Development.json
  itu-minitwit/Web/Web/appsettings.json
  itu-minitwit/Web/Web/wwwroot/app.css
  itu-minitwit/Web/Web/wwwroot/bootstrap/bootstrap.min.css
  itu-minitwit/Web/Web/wwwroot/bootstrap/bootstrap.min.css.map
  itu-minitwit/itu-minitwit.sln
Labels: feature

#98 Fixed so get latest returns value instead of Id
  itu-minitwit/Api/Api.DataAccess/Repositories/LatestRepository.cs
  itu-minitwit/Api/Api.UnitTest/UnitTest.cs
Labels: bug

#99 Create and update workflows
  .github/workflows/Changes-to-pr-to-main.yml
  .github/workflows/Commit-to-pr-to-main.yml
  .github/workflows/Jobs/Create-tag-on-merge.yml
  .github/workflows/Jobs/build.yml
  .github/workflows/Jobs/check-for-lable.yml
  .github/workflows/Jobs/check-for-warnings.yml
  .github/workflows/Jobs/create-docker-image.yml
  .github/workflows/Jobs/create-release.yml
  .github/workflows/Jobs/deploy-to-digitalocean.yml
  .github/workflows/Jobs/test.yml
  .github/workflows/continuous-deployment.yml
  .github/workflows/release-and-deploy.yml
Labels: Workflow

#102 Fix workflows
  .github/workflows/Changes-to-pr-to-main.yml
  .github/workflows/Commit-to-pr-to-main.yml
  .github/workflows/Create-tag-on-merge.yml
  .github/workflows/build.yml
  .github/workflows/check-for-lable.yml
  .github/workflows/check-for-warnings.yml
  .github/workflows/create-docker-image.yml
  .github/workflows/create-release.yml
  .github/workflows/deploy-to-digitalocean.yml
  .github/workflows/release-and-deploy.yml
  .github/workflows/test.yml
Labels: bug, Workflow

#100 Create UI for public timeline
  Dockerfile-minitwit
  compose.yaml
  itu-minitwit/Web.DataAccess/Abstract/BaseAPIRepository.cs
  itu-minitwit/Web.DataAccess/MessageRepository.cs
  itu-minitwit/Web.DataAccess/Web.DataAccess.csproj
  itu-minitwit/Web/Web.Services/DTO's/DisplayMessageDto.cs
  itu-minitwit/Web/Web.Services/IMessageRepository.cs
  itu-minitwit/Web/Web.Services/MessageService.cs
  itu-minitwit/Web/Web/Components/Message.razor
  itu-minitwit/Web/Web/Components/Message.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor.cs
  itu-minitwit/Web/Web/Program.cs
  itu-minitwit/Web/Web/Web.csproj
  itu-minitwit/Web/Web/appsettings.Development.json
  itu-minitwit/Web/Web/appsettings.json
  itu-minitwit/itu-minitwit.sln
Labels: feature, WebApp

#103 Update create-docker-image.yml
  .github/workflows/create-docker-image.yml
Labels: enhancement, Workflow

#105 Fix warnings
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/CreateMessageDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/DisplayMessageDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/MessageDTO's/ReadMessageDTO.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Web.DataAccess/Abstract/BaseAPIRepository.cs
  itu-minitwit/Web/Web.Services/DTO's/DisplayMessageDto.cs
  itu-minitwit/Web/Web.Services/FollowService.cs
  itu-minitwit/Web/Web.Services/UserState.cs
  itu-minitwit/Web/Web/Components/Message.razor
  itu-minitwit/Web/Web/Components/Message.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor.cs
  itu-minitwit/itu-minitwit.sln
  itu-minitwit/minitwit.test/API.Tests.cs
  itu-minitwit/minitwit.test/InMemoryWebApplicationFactory.cs
  itu-minitwit/minitwit.test/minitwit.test.csproj
  itu-minitwit/minitwit.web/.dockerignore
  itu-minitwit/minitwit.web/Controllers/FollowController.cs
  itu-minitwit/minitwit.web/Controllers/LogoutController.cs
  itu-minitwit/minitwit.web/Controllers/MessageController.cs
  itu-minitwit/minitwit.web/Data/Follower.cs
  itu-minitwit/minitwit.web/Data/LatestProcessedSimAction.cs
  itu-minitwit/minitwit.web/Data/Message.cs
  itu-minitwit/minitwit.web/Data/MiniTwitDbContext.cs
  itu-minitwit/minitwit.web/Data/User.cs
  itu-minitwit/minitwit.web/Dockerfile
  itu-minitwit/minitwit.web/LatestService.cs
  itu-minitwit/minitwit.web/Migrations/20250209184106_InitialCreate.Designer.cs
  itu-minitwit/minitwit.web/Migrations/20250209184106_InitialCreate.cs
  itu-minitwit/minitwit.web/Migrations/20250210185611_addedCompositePrimaryKeyToFollowers.Designer.cs
  itu-minitwit/minitwit.web/Migrations/20250210185611_addedCompositePrimaryKeyToFollowers.cs
  itu-minitwit/minitwit.web/Migrations/20250211085922_uniqueusername.Designer.cs
  itu-minitwit/minitwit.web/Migrations/20250211085922_uniqueusername.cs
  itu-minitwit/minitwit.web/Migrations/20250215084305_AddedLatestProcessedSimAction.Designer.cs
  itu-minitwit/minitwit.web/Migrations/20250215084305_AddedLatestProcessedSimAction.cs
  itu-minitwit/minitwit.web/Migrations/MiniTwitDbContextModelSnapshot.cs
  itu-minitwit/minitwit.web/Pages/Login.cshtml
  itu-minitwit/minitwit.web/Pages/Login.cshtml.cs
  itu-minitwit/minitwit.web/Pages/Register.cshtml
  itu-minitwit/minitwit.web/Pages/Register.cshtml.cs
  itu-minitwit/minitwit.web/Pages/Shared/_Layout.cshtml
  itu-minitwit/minitwit.web/Pages/Timeline.cshtml
  itu-minitwit/minitwit.web/Pages/Timeline.cshtml.cs
  itu-minitwit/minitwit.web/Program.cs
  itu-minitwit/minitwit.web/Properties/launchSettings.json
  itu-minitwit/minitwit.web/SimulatorAPI/FollowerController.cs
  itu-minitwit/minitwit.web/SimulatorAPI/LatestController.cs
  itu-minitwit/minitwit.web/SimulatorAPI/RegisterController.cs
  itu-minitwit/minitwit.web/Vagrantfile
  itu-minitwit/minitwit.web/appsettings.Development.json
  itu-minitwit/minitwit.web/appsettings.json
  itu-minitwit/minitwit.web/compose.yaml
  itu-minitwit/minitwit.web/data/minitwit.db
  itu-minitwit/minitwit.web/db_ip.txt
  itu-minitwit/minitwit.web/minitwit.web.csproj
  itu-minitwit/minitwit.web/remote_files/deploy.sh
  itu-minitwit/minitwit.web/remote_files/docker-compose.yml
  itu-minitwit/minitwit.web/wwwroot/css/style.css
Labels: enhancement

#106 Updated releas and deploy, to deploy when a release is made
  .github/workflows/release-and-deploy.yml
Labels: Workflow

#107 Fixed path to dataccess project
  Dockerfile-minitwit
Labels: enhancement

#108 Create the login page
  itu-minitwit/Api/Api.DataAccess/Repositories/UserRepository.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/LoginUserDTO.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IUserRepository.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api/Controllers/UserController.cs
  itu-minitwit/Web/Web.DataAccess/UserRepository.cs
  itu-minitwit/Web/Web.Services/DTO's/LoginUserDTO.cs
  itu-minitwit/Web/Web.Services/Repositories/IUserRepository.cs
  itu-minitwit/Web/Web.Services/UserService.cs
  itu-minitwit/Web/Web/Components/Pages/Login.razor
  itu-minitwit/Web/Web/Components/Pages/Login.razor.cs
  itu-minitwit/Web/Web/Program.cs
  itu-minitwit/Web/Web/Properties/launchSettings.json
Labels: feature, Api, WebApp

#112 Fixed create tag workflow not checking out the repository
  .github/workflows/Create-tag-on-merge.yml
Labels: Workflow

#117 Update create-release.yml - now includes web
  .github/workflows/append-timechart-to-body.yml
  .github/workflows/create-release.yml
  .github/workflows/release-and-deploy.yml
Labels: Workflow

#120 Push docker compose file to digital ocean workflow
  .github/workflows/deploy-to-digitalocean.yml
  docker-compose.yaml
Labels: enhancement, Workflow

#118 Update create-docker-image.yml
  .github/workflows/create-docker-image.yml
Labels: Workflow

#121 Update append-timechart-to-body.yml
  .github/workflows/append-timechart-to-body.yml
Labels: Workflow

#122 Update deploy-to-digitalocean.yml
  .github/workflows/deploy-to-digitalocean.yml
Labels: Workflow

#123 Fix compose naming
  .github/workflows/deploy-to-digitalocean.yml
  docker-compose.yml
Labels: Workflow

#124 Update README.md
  README.md
Labels: documentation

#125 Update README.md
  README.md
Labels: documentation

#127 Update check-for-warnings.yml to include web project
  .github/workflows/check-for-warnings.yml
Labels: Workflow

#126 Add sonarqube workflow
  .github/workflows/Commit-to-pr-to-main.yml
  .github/workflows/sonarqube-analysis.yml
Labels: documentation

#114 Create a createmessage component
  itu-minitwit/Web/Web.DataAccess/Abstract/BaseAPIRepository.cs
  itu-minitwit/Web/Web.DataAccess/MessageRepository.cs
  itu-minitwit/Web/Web.Services/DTO's/CreateMessageDto.cs
  itu-minitwit/Web/Web.Services/DTO's/DisplayMessageDto.cs
  itu-minitwit/Web/Web.Services/MessageService.cs
  itu-minitwit/Web/Web.Services/Repositories/IMessageRepository.cs
  itu-minitwit/Web/Web/Components/CreateMessage.razor
  itu-minitwit/Web/Web/Components/CreateMessage.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor.cs
Labels: feature, Api, WebApp

#136 Add secrets to workflows
  .github/workflows/append-timechart-to-body.yml
  .github/workflows/create-docker-image.yml
  .github/workflows/create-release.yml
  .github/workflows/deploy-to-digitalocean.yml
  .github/workflows/release-and-deploy.yml
Labels: Workflow

#129 Workflow that runs simulator script
  .github/workflows/Commit-to-pr-to-main.yml
  .github/workflows/run-simulation.yml
  itu-minitwit/Api/Api/minitwit_simulator.py
Labels: feature, Workflow

#137 check for emptyString
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
Labels: bug

#138 fixed
  .github/workflows/append-timechart-to-body.yml
  .github/workflows/create-release.yml
Labels: Workflow

#144 Fix message endpoint failing if there are no messages
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Web/Web.DataAccess/MessageRepository.cs
Labels: bug

#146 Update create-release.yml
  .github/workflows/create-release.yml
Labels: Workflow

#140 Create the register page
  itu-minitwit/Web/Web.DataAccess/UserRepository.cs
  itu-minitwit/Web/Web.Services/DTO's/RegisterDto.cs
  itu-minitwit/Web/Web.Services/Repositories/IUserRepository.cs
  itu-minitwit/Web/Web.Services/UserService.cs
  itu-minitwit/Web/Web/Components/Pages/Register.razor
  itu-minitwit/Web/Web/Components/Pages/Register.razor.cs
Labels: feature

#147 Update create-release.yml
  .github/workflows/create-release.yml
Labels: Workflow

#150 Inserted jobs for debuging path
  .github/workflows/create-release.yml
Labels: Workflow

#151 more debugging
  .github/workflows/create-release.yml
Labels: Workflow

#152 Cleanup
  .github/workflows/create-release.yml
Labels: Workflow

#153 fixed file paths for release workflow
  .github/workflows/create-release.yml
Labels: Workflow

#154 Set fetch depth to 0 to retrieve tags
  .github/workflows/append-timechart-to-body.yml
Labels: Workflow

#155 Update append timechart to release
  .github/workflows/append-timechart-to-body.yml
Labels: Workflow

#156 fixed-release-path
  .github/workflows/create-release.yml
Labels: Workflow

#142 Update RegisterController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Web/Web.DataAccess/UserRepository.cs
Labels: enhancement

#157 Custom metrics
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Api/Api/MetricsConfig.cs
  itu-minitwit/Api/Api/Program.cs
Labels: feature, Api

#159 Implement following
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IFollowRepository.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Web/Web.DataAccess/DTO's/FollowUnfollowDto.cs
  itu-minitwit/Web/Web.DataAccess/FollowRepository.cs
  itu-minitwit/Web/Web.Services/DTO's/FollowDto.cs
  itu-minitwit/Web/Web.Services/FollowService.cs
  itu-minitwit/Web/Web.Services/Repositories/IFollowRepository.cs
  itu-minitwit/Web/Web/Components/Message.razor
  itu-minitwit/Web/Web/Components/Message.razor.cs
  itu-minitwit/Web/Web/Components/MessageView.razor
  itu-minitwit/Web/Web/Components/MessageView.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PrivateTimeline.razor.cs
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor
  itu-minitwit/Web/Web/Components/Pages/PublicTimeline.razor.cs
  itu-minitwit/Web/Web/Program.cs
Labels: feature, Api, WebApp

#162 Added restart on failure
  docker-compose.yml
Labels: bug, Docker
