Repository ITU-DevOps2025-GROUP-A/itu-minitwit, pull requests merged in 2025-04, with the labels that each got.

#164 Logging
  docker-compose.yml
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/LatestRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/MessageRepository.cs
  itu-minitwit/Api/Api.DataAccess/Repositories/UserRepository.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserAlreadyExistsException.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesntExistException.cs
  itu-minitwit/Api/Api.Services/LogDecorator.cs
  itu-minitwit/Api/Api.Services/Logging/Decorators/LogMethodParametersAttribute.cs
  itu-minitwit/Api/Api.Services/Logging/Decorators/LogReturnValueAsyncAttribute.cs
  itu-minitwit/Api/Api.Services/Logging/Decorators/LogReturnValueAttribute.cs
  itu-minitwit/Api/Api.Services/Logging/Decorators/LogTimeAttribute.cs
  itu-minitwit/Api/Api.Services/Logging/GenerateDynamicTypes.cs
  itu-minitwit/Api/Api.Services/Logging/LoggerExtension.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api.Services/Services/LatestService.cs
  itu-minitwit/Api/Api.Services/Services/MessageService.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api/Api.csproj
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Api/Api/Controllers/LatestController.cs
  itu-minitwit/Api/Api/Controllers/MessageController.cs
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Api/Api/Controllers/UserController.cs
  itu-minitwit/Api/Api/Program.cs
  itu-minitwit/Api/Api/appsettings.json
Labels: feature, enhancement, Api

#166 404 page not found
  itu-minitwit/Web/Web/Components/Pages/Error404.razor
  itu-minitwit/Web/Web/Program.cs
Labels: feature, WebApp

#170 Add old users
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesntExistException.cs
  itu-minitwit/Api/Api.Services/MetricsConfig.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api.Services/Services/MessageService.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api.UnitTest/UnitTest.cs
Labels: bug

#173 Disable logging
  docker-compose.yml
  itu-minitwit/Api/Api/Program.cs
Labels: bug, Api, Docker

#169 Upload deployfile to droplet
  .github/workflows/deploy-to-digitalocean.yml
  remote_files/deploy.sh
  remote_files/docker-compose.yml
Labels: enhancement, Workflow
