Repository ITU-DevOps2025-GROUP-A/itu-minitwit, pull requests merged in 2025-02, with the labels that each got.

#20 removed old parts of the codebase
  Makefile
  __pycache__/minitwit.cpython-310.pyc
  __pycache__/minitwit.cpython-312.pyc
  control.sh
  flag_tool
  flag_tool.c
  minitwit.db
  minitwit.py
  minitwit.py.bak
  minitwit.pyc
  minitwit_tests.py
  refactored_minitwit_tests.py
  schema.sql
  static/style.css
  templates/layout.html
  templates/login.html
  templates/register.html
  templates/timeline.html
Labels: enhancement

#32 Registerendpoint
  .gitignore
  itu-minitwit/itu-minitwit.sln.DotSettings.user
  itu-minitwit/minitwit.test/API.Tests.cs
  itu-minitwit/minitwit.web/SimulatorAPI/RegisterController.cs
Labels: feature

#33 Fllws username endpoint
  itu-minitwit/minitwit.test/API.Tests.cs
  itu-minitwit/minitwit.web/SimulatorAPI/FollowerController.cs
Labels: feature, test

#34 Added link to devops repo
  README.md
Labels: documentation

#47 Extract the follow endpoint
  itu-minitwit/Api/Api.DataAccess/Api.DataAccess.csproj
  itu-minitwit/Api/Api.DataAccess/Repositories/FollowerRepository.cs
  itu-minitwit/Api/Api.Services/Api.Services.csproj
  itu-minitwit/Api/Api.Services/Exceptions/AlreadyFollowsUserException.cs
  itu-minitwit/Api/Api.Services/Exceptions/UserDoesntExistException.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IFollowRepository.cs
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api.UnitTest/UnitTest.cs
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
  itu-minitwit/Api/Api/Program.cs
  itu-minitwit/minitwit.web/minitwit.db
Labels: enhancement, test

#52 Copy register to api
  itu-minitwit/Api/Api.DataAccess/Api.DataAccess.csproj
  itu-minitwit/Api/Api.DataAccess/Repositories/UserRepository.cs
  itu-minitwit/Api/Api.Services/Api.Services.csproj
  itu-minitwit/Api/Api.Services/CustomExceptions/UserAlreadyExists.cs
  itu-minitwit/Api/Api.Services/CustomExceptions/UserDoesNotExist.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/CreateUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/DeleteUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/ReadUserDTO.cs
  itu-minitwit/Api/Api.Services/Dto's/UserDTO's/UpdateUserDTO.cs
  itu-minitwit/Api/Api.Services/RepositoryInterfaces/IUserRepository.cs
  itu-minitwit/Api/Api.Services/Services/UserService.cs
  itu-minitwit/Api/Api.UnitTest/UnitTest.cs
  itu-minitwit/Api/Api/Api.csproj
  itu-minitwit/Api/Api/Controllers/RegisterController.cs
  itu-minitwit/Api/Api/Program.cs
Labels: enhancement

#57 Fixed bug from the follow endpoints
  itu-minitwit/Api/Api.Services/Services/FollowService.cs
  itu-minitwit/Api/Api/Controllers/FollowerController.cs
Labels: bug, Api

#59 Create workflow
  .github/workflows/continuous-deployment.yml
  Dockerfile-minitwit
  compose.yaml
  itu-minitwit/minitwit.web/Vagrantfile
  itu-minitwit/minitwit.web/minitwit.db
  itu-minitwit/minitwit.web/remote_files/deploy.sh
  itu-minitwit/minitwit.web/remote_files/docker-compose.yml
Labels: Workflow
